@model Suggestions.Entities.Dto.UserDto


<div class="row wrapper">
    <h1>Giriş</h1>
    <div class="">
        <form asp-action="LogIn" method="post" id="myForm">
            <div class="input-box">
                <input class="input-box mail" name="Email" type="email" placeholder="E-Mail:" />
                <label>E-Mail:</label>
            </div>
            <div class="input-box">
                <input class="input-box password" name="Password" type="password" placeholder="Şifre:" />
                <label>Şifre:</label>
            </div>
            <div class="form-group">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Giriş" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>