@{
    ViewData["Title"] = "Home Page";

}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4">Hoş Geldiniz</h1>
            <p class="lead">Lütfen giriş yapın veya kayıt olun</p>
            <div class="mt-4">
                <a href="/Account/LogIn" class="btn btn-primary btn-lg mx-2">Giriş Yap</a>
                <a href="/Register/Register" class="btn btn-secondary btn-lg mx-2">Kayıt Ol</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
