@model List<string>
@{
    Layout = "_NavBarLayout";
}
<head>
    <style>
        .cmp1 {
            width: 420px;
            background: #333;
            color: #fff;
            border-radius: 20px;
            padding: 30px 40px;
            margin: 15px;
        }

        #dosyaYukle {
            font-size: 26px;
            text-align: center;
        }

        #dosyaSec {
            text-align: center;
        }

        #btn {
            padding-left: 30px !important;
            width: 50%;
            text-align: center;
            height: 45px;
            background: #fff;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0,0,0, .1);
            cursor: pointer;
            font-size: 16px;
            color: #333;
            font-weight: 600;
        }

        .cmp2 {
            width: 420px;
            background: #333;
            color: #fff;
            border-radius: 20px;
            padding: 30px 40px;
            margin: 15px;
        }

        #yuklenenDosyalar {
            font-size: 26px;
            text-align: center;
        }

        .dosyalar {
            text-align: center;
            margin: 20px;
        }
    </style>

</head>
<head>
    <body>
        <form asp-controller="Suggestions" asp-action="DataUpload" method="post" enctype="multipart/form-data">
            <div class=" cmp2 col">
                <h2 id="yuklenenDosyalar">Yüklenen Dosyalar</h2>
                <div class="dosyalar">
                    @if (Model != null)
                    {
                        @foreach (var fileName in Model)
                        {
                            <button asp-controller="Suggestions" asp-action="Suggestions" asp-route-fileName="@fileName" class="btn btn-s btn-danger"> @fileName </button>
                        }
                    }
                </div>
            </div>
        </form>
    </body>
</head>